* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#color-palette {
  display: flex;
  justify-content: flex-end;
  background-color: red;
  gap: 8px;
}

#color-palette .color {
  border: 1px solid rgb(0 0 0);
  width: 30px;
  height: 30px;
}

#color-palette .color:nth-child(1) {
  background-color: rgb(0 0 0);
}

#pixel-board {
  background-color: purple;
  display: flex;
  flex-wrap: wrap;
}

.pixel {
  width: 30px;
  height: 30px;
  background-color: rgb(255 255 255);
  border: 1px solid red;
}
